<header class="header">
    <a href="" class="logo">Time Management</a>
    <!-- <img src="logo/log.jpg"> -->
    <nav class="nav-items">
      <a href="home">Home</a>
      <a href="admin-task-details">Status</a>
      <a href="login">Log Out</a>
      
    </nav>
  </header> 


  
<app-admin-task-list></app-admin-task-list>




<footer class="bg-light text-center text-lg-start">
   
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://.com/">Time management.com</a>
  </div>
  
</footer>
  


 






    
 














  
